In [75]:
import pandas as pd
path = "E:\\Data\\Internship\\bandwidth_remodel.csv"
df = pd.read_csv(path)
print("The first 10 rows of the dataframe") 
df.head(10)

The first 10 rows of the dataframe

   customerID    Environment  Departments  Users  Bandwidth
0           1      Technical            4     30        150
1           6      Technical            4     30        150
2           8      Technical            3     20        120
3          11      Technical            3     20        120
4          14      Technical            3     25        120
5          17      Technical            3     25        120
6          18      Technical            2     20        120
7          21      Technical            3     30        150
8          22  Non-technical            1      5         50
9          23  Non-technical            1      5         50

In [76]:
df.isna().sum()

customerID     0
Environment    0
Departments    0
Users          0
Bandwidth      0
dtype: int64

In [77]:
df.dtypes

customerID      int64
Environment    object
Departments     int64
Users           int64
Bandwidth       int64
dtype: object

In [78]:
df['Environment'].replace(['Non-technical', 'Technical'],
                        [0, 1], inplace=True)

In [79]:
df.dtypes

customerID     int64
Environment    int64
Departments    int64
Users          int64
Bandwidth      int64
dtype: object

In [80]:
df.head(10)

   customerID  Environment  Departments  Users  Bandwidth
0           1            1            4     30        150
1           6            1            4     30        150
2           8            1            3     20        120
3          11            1            3     20        120
4          14            1            3     25        120
5          17            1            3     25        120
6          18            1            2     20        120
7          21            1            3     30        150
8          22            0            1      5         50
9          23            0            1      5         50

In [81]:
m=df.corr()["Bandwidth"]
list_keys = list(m.keys())
list_Values = m.to_list()
t = dict(zip(list_keys,list_Values))
t_final = {}
for x in t:
  if t[x]>0.5 or t[x]<-0.5:
    t_final.update({x:t[x]})
print(t_final)

{'Environment': 0.8216903781590414, 'Departments': 0.8866669824318147, 'Users': 0.9209029300740612, 'Bandwidth': 1.0}

In [82]:
y_data = df['Bandwidth']
x_data=df.drop('Bandwidth',axis=1)

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.25, random_state=1)
#random_state=1 gives you different results everytime

print("number of test samples :", x_test.shape[0])
print("number of training samples:",x_train.shape[0])

number of test samples : 68
number of training samples: 203

Logistic Regression

In [83]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression().fit(x_train,y_train)
LR

c:\users\admin\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [93]:
import pandas as pd
path = "Downloads\\final.csv"
df1 = pd.read_csv(path)
print("The first 10 rows of the dataframe") 
df1.head(10)

The first 10 rows of the dataframe

   customerID  Department               Environment  Users
0          17           5      Technical Department     40
1          18           3      Technical Department     35
2          19           4      Technical Department     40
3          20           4      Technical Department     25
4          21           2      Technical Department     25
5          22           5      Technical Department     45
6          23           1  Non Technical Department      5

In [94]:
df1['Environment'].replace(['Non Technical Department', 'Technical Department'],
                        [0, 1], inplace=True)

In [95]:
df1.head(10)

   customerID  Department  Environment  Users
0          17           5            1     40
1          18           3            1     35
2          19           4            1     40
3          20           4            1     25
4          21           2            1     25
5          22           5            1     45
6          23           1            0      5

In [96]:
yhat_lr = LR.predict(df1)
yhat_lr

c:\users\admin\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Department
Feature names seen at fit time, yet now missing:
- Departments

  warnings.warn(message, FutureWarning)

array([150, 150, 150, 150, 150, 150, 150], dtype=int64)

In [97]:
yhat_lr = LR.predict(x_test)
yhat_lr

array([150, 150, 150,  70, 150, 150,  70, 150,  50,  70,  50, 150, 150,
        50, 150, 150, 150, 150,  50,  50, 150, 150, 150, 150, 150, 150,
        70, 150,  70, 150,  70, 150, 150, 150,  70, 150, 150,  50,  70,
        50, 150,  70, 150,  50,  70, 150, 150, 150, 150, 150,  70, 150,
        50, 150,  50,  70,  50,  50,  50, 150, 150, 150,  50,  50, 150,
       150,  50,  50], dtype=int64)

KNN

In [63]:
from sklearn.neighbors import KNeighborsClassifier
k = 4
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(x_train,y_train)
neigh

KNeighborsClassifier(n_neighbors=4)

In [64]:
yhat = neigh.predict(x_test)
yhat[10:20]

array([ 70, 150, 250,  70, 150, 250, 120, 150,  70,  50], dtype=int64)

Decision Tree

In [66]:
from sklearn.tree import DecisionTreeClassifier
drugTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
drugTree.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [67]:
predTree = drugTree.predict(x_test)
predTree[10:20]

array([ 50, 150, 250,  50, 150, 250, 150, 150,  50,  50], dtype=int64)

In [68]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, yhat)

array([[11,  6,  0,  0,  0,  0,  0],
       [ 2,  9,  2,  0,  0,  0,  0],
       [ 2,  2,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  3,  0,  1,  0],
       [ 0,  2,  1,  3,  5,  0,  0],
       [ 0,  0,  0,  2,  5,  2,  0],
       [ 0,  0,  0,  0,  3,  2,  4]], dtype=int64)